<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lego Collection</title>
        <link rel="stylesheet" href="/css/main.css"/>
        
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            fetch('https://api.quotable.io/random')
              .then((response) => {
                return response.ok ? response.json() : Promise.reject(response.status);
              })
              .then((json) => {
                let quoteNode = document.getElementById('quote');
                quoteNode.innerHTML = '"' + json.content + '"' + 
                '<br>' + '- ' + '<em>' + json.author + '</em>';
              })
              .catch((err) => {
                console.log(err);
              });
          });
        </script>
    </head>
    <body tabIndex="-1">
      <%- include('partials/navbar', {page: ''}) %>

        <div class="container mx-auto">
            <div class="hero bg-base-300 p-6">
                <div class="hero-content text-center">
                  <div class="max-w-md">
                    <h1 class="text-5xl font-bold"><%= sets.name %></h1>
                    <p class="py-6">Detailed information about the set: <strong><%= sets.name %></strong></p>
                  </div>
                </div>
            </div>
            <br>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <img class="w-full rounded-lg" src="<%= sets.img_url %>" alt="preview">
                </div>

                <div class="prose">
                    <p>
                     <span class="font-bold">Set Name: </span> <%= sets.name %> <br>
                     <span class="font-bold">Year Released: </span> <%= sets.year %> <br>
                     <span class="font-bold">Theme: </span> <%= sets.theme %> <br>
                     <span class="font-bold">Number of Parts: </span> <%= sets.num_parts %> <br><br>
                     <span id="quote"></span>
                     <br>
                     <br>
                     <a class="btn btn-primary btn-sm" href="#" onclick="history.back(); return false;">RETURN</a>
                    </p>
                  </div>

            </div>

    </body>
</html>